[Unit]
Description=Broadcast board information
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/sbin/bcsend

[Install]
WantedBy=multi-user.target

